.inner {
    width: 260px;
    margin: 0 auto;
    
}

@media (min-width: $tablet-width) {
    .inner {
        width: 668px;
    }
}

@media (min-width: $desktop-width) {
    .inner {
        width: 1050px;
    }
}